<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Añadir producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='anadir_producto.css') }}">
</head>
<body>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <form action="/cantidad_sumar" method="POST">
                    <div class="form-group">
                        <h1 class="centrado"><b>Introduzca los datos de su producto</b></h1>
                        <img class="img" src="https://thumbs.dreamstime.com/b/icono-de-l%C3%ADnea-moda-lenta-signo-prueba-ecol%C3%B3gica-s%C3%ADmbolo-comercio-justo-vector-elemento-dise%C3%B1o-calidad-estilo-lineal-trazo-172879614.jpg"
                        alt="Imagen de la empresa"
                        width="100"
                        height="80"
                        title="Simbolo empresa"
                        >
                        <input class="controls" name="referencia_2" type="text" placeholder="Referencia del producto">
                        <input class="controls" name="cantidad_nueva" type="number" placeholder="Cantidad a vender">
                        <input class="botons" name="anadir" type="submit" value="Añadir">
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>
</html>