<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ele_producto.css') }}">
</head>
<body>
    <div class="card-body">
        <h1 class="centrado"><b>El producto ha sido eliminado correctamente</b></h1>
        <form action="/volver_index">
            <input class="boton_1" name="registro" type="submit" value="Menu Principal">
        </form>

        <form action="/ele">
            <input class="boton_1" name="index" type="submit" value="Administración">
        </form>
    </div>

</body>
</html>