<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='password.css') }}">
</head>
<body>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <h1 class="centrado"><b>LOGIN</b></h1>
                        <img class="img" src="https://thumbs.dreamstime.com/b/icono-de-l%C3%ADnea-moda-lenta-signo-prueba-ecol%C3%B3gica-s%C3%ADmbolo-comercio-justo-vector-elemento-dise%C3%B1o-calidad-estilo-lineal-trazo-172879614.jpg"
                        alt="Imagen de la empresa"
                        width="100"
                        height="80"
                        title="Simbolo empresa"
                        >
                        <input class="controls" name="usuario" type="text" placeholder="Usuario">
                        <input class="controls" name="contrasena" type="password" size="5" maxlength="10" placeholder="Contraseña">
                        <input class="botons" name="adm" type="submit" value="Entrar">
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>