<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Referencia Incorrecta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='referencia_incorrecta.css') }}">
</head>
<body>
    <div class="card-body">
        <h1 class="centrado"><b>La referencia introducida es incorrecta</b></h1>
            <form action="/referencia_incorrecta">
                <input class="boton_1" name="registro" type="submit" value="Registro del producto">
         </form>
    </div>

</body>
</html>